/* styles.css */

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: calc(33.333% - 20px); /* 3 columnas */
}

.item-detail {
  margin: 20px;
}

.item-detail button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.item-detail button:hover {
  background-color: #218838;
}
